.swiperContainer {
    padding: 1rem 3rem;
    display: flex;
    align-items: flex-end;
    height:530px;
  }
  
  .swiperImage {
    height: 200px;
    width: 95%;
    object-fit: cover;
    border-radius: 20px;;
  }
  
  .swiperSlide {
    display: flex;
    justify-content: center;
  }

  :global(.swiper-pagination) {
    position: relative !important;
    margin-top: 20px !important;
    text-align: center !important;
    width: 100% !important;
    bottom: 0 !important;
}


:global(.swiper-pagination-bullet){
  background-color: #194865;

}

:global(.swiper-pagination-bullet-active) {
  background-color: #2AA7FF !important;
  outline: 4px solid rgba(42, 167, 255, 0.5);
}